<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginUserLog-Mapper">
	
	<update id="insertLoginUserLog">
		INSERT INTO LOGINUSERLOG(ID, PHONE, EMAIL, IPADDRESS, INDATE)
		VALUES (#{id}, #{phone}, #{email}, #{ipAddress}, #{indate})
	</update>
	
	<update id="deleteLoginUserLog">
		DELETE FROM LOGINUSERLOG 
	</update>
	
</mapper>